<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
      </header>
      <section>

      {{ content }}

      <h2>Recent Posts</h2>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <small>{{ post.date | date_to_long_string }}</small>
            </li>
          {% endfor %}
        </ul>

      </section>
      <footer>
          <a href="">Steam</a>
          <a href="">Reddit</a>
          <a href="">Discord</a>
          <a href="">TikTok</a>
          <a href="">X</a>
      </footer>
    </div>
  </body>
</html>

